@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Ode To Beer</h1>
    <p class="lead">“Beer is proof that God loves us and wants us to be happy.” - Benjamin Franklin</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Reviews</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in metus nulla. 
            Phasellus interdum vulputate orci hendrerit pulvinar. Donec et semper velit, et aliquet tortor.  
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Beer Education</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in metus nulla.
            Phasellus interdum vulputate orci hendrerit pulvinar. Donec et semper velit, et aliquet tortor.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Latest Posts</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>