@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>My Beer Blog</h1>
    <p class="lead">“Beer is proof that God loves us and wants us to be happy.” - Benjamin Franklin</p>
    <p>This is a sample application created by me to showcase my skills in ASP.NET MVC development. 
    You will find beer reviews, articles about beer, and my general thoughts about beer from a woman's perspective.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Read more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Reviews</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in metus nulla. 
            Phasellus interdum vulputate orci hendrerit pulvinar. Donec et semper velit, et aliquet tortor.  
        </p>
        <p><a class="btn btn-default" href="#">Read more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Beer Education</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in metus nulla.
            Phasellus interdum vulputate orci hendrerit pulvinar. Donec et semper velit, et aliquet tortor.</p>
        <p><a class="btn btn-default" href="#">Read more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Latest Posts</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="#">Read more &raquo;</a></p>
    </div>
</div>